.users-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;

  .user {
    width: 100%;
    display: flex;
    flex-direction: column;

    .user_info {
      background-color: #F1F4FF;
      box-shadow: 0px 4px 4px 0px #0000001A;
      border-radius: 20px;
      max-height: 56px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px 30px;
      cursor: pointer;


      &.active {
        border-radius: 20px 20px 0 0;
      }

      nav {
        font-size: 2rem;
        line-height: 2.35rem;
        color: #434343;
      }

      .id {
        width: 89px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .name {
        width: 240px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .email {
        width: 200px;
      }

      .transaction,
      .balance {
        width: 80px;
      }

      .status {
        width: 121px;
      }

      .history_actions {
        display: flex;
        flex-direction: row;
        gap: 26px;
        align-items: center;
        position: relative;
        z-index: 99;

        button {
          cursor: pointer;
          outline: none;
          border: none;
          background: transparent;

          padding: 0;
        }
      }
    }

    .user_dop {

      background-color: #70A9FF;
      width: 100%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;


      flex-direction: column;
      padding: 20px 2px 8px 2px;
      display: none;

      &.active {
        display: flex;
      }

      .main_info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 22.25px;

        .card {
          border-radius: 10px;
          background-color: #F1F4FF;
          display: flex;
          flex-direction: column;
          max-width: 375.75px;
          height: 108px;
          width: 100%;

          position: relative;

          .title {
            padding: 20px 0 0 33.89px;


            font-size: 2.4rem;
            font-weight: 500;
            line-height: 3.2rem;
            letter-spacing: -0.02em;
            color: #434343;

          }

          .info {
            padding: 8px 0 0 26px;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 3.2rem;
            letter-spacing: -0.02em;
          }



          .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            input {
              padding: 8px 0 8px 26px;
              outline: none;
              border-radius: 16px;
              font-size: 2rem;
              max-width: 150px;
            }

            img,
            mat-icon {
              padding-right: 19.50px;
              cursor: pointer;
            }
          }

          .line {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            border: 4.5px solid #FF0000;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &.yellow {
              border: 4.5px solid #FFD600;
            }

            &.green {
              border: 4.5px solid #0FB600;
            }

            &.purple {
              border: 4.5px solid #9E00FF;
            }
          }
        }
      }

      .transaction {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-right: 8px;

        .history {
          padding: 17px 59px 17px 17px;
          background-color: #F1F4FF;
          box-shadow: 0px 4px 10px 0px #00000040;

          background-color: #F1F4FF;
          border-radius: 20px;
          align-items: center;
          display: flex;
          justify-content: space-between;
          flex-direction: row;

          .sub {
            background-color: #D8E1FF;
            border-radius: 20px;
            color: #2E65F3;
            padding: 5px 20px;
          }

          nav {
            font-family: "Public Sans", sans-serif;
            font-size: 1.4rem;
            line-height: 16.45px;
            color: #000000;
          }

          .history_actions {
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
              ::ng-deep &.mat-mdc-icon-button.mat-mdc-button-base {
                --mdc-icon-button-state-layer-size: 25px;
                padding: 0;
              }

              ::ng-deep &.mat-mdc-icon-button .mat-mdc-button-touch-target {
                width: 25px !important;
                height: 25px !important;
              }

              img,
              mat-icon {
                width: 19px;

                ::ng-deep svg {
                  width: 19px !important;
                  height: 19px !important;
                }
              }
            }
          }
        }
      }

      .allCard {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;

        .card_title {
          border-radius: 20px;
          background: #F1F4FF;
          padding: 15px 20px;
          color: #000000;
          font-size: 2rem;
          line-height: 23.5px;

        }

      }
    }


  }
}

.popup {
  position: fixed;
  background: rgba(67, 67, 67, 0.5019607843);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    align-items: center;

    mat-card-header {
      mat-card-title {
        text-align: center;
        font-size: 2rem;
      }
    }

    mat-card-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      button {
        font-size: 1.8rem;
        padding: 10px 15px;
        font-weight: 400;
      }
    }
  }
}