<div class="users-list">
  <div class="user" *ngFor="let user of userInfo; index as i">
    <div class="user_info" (click)="openSettings(i)">
      <nav class="id sans">{{user?.profile?.userID}}</nav>
      <nav class="name sans">{{user?.profile?.name}}</nav>
      <nav class="email sans">{{user?.profile?.email}}</nav>
      <nav class="balance sans">{{user?.monitoring?.balance}}</nav>
      <nav class="transaction sans">{{user?.monitoring?.transactions}}</nav>
      <nav class="status sans">{{user?.profile?.rules}}</nav> 
    </div>
    <div class="user_dop" [ngClass]="{'active': i == isActiveId}">
      <div class="main_info">
        <div *ngFor="let card of headerData" class="card">
          <p class="title">{{card.title}}</p>
          <p class="info">{{card.data}}</p>
          <div class="line {{card.color}}"></div>
        </div>
      </div>
      <div class="transaction" *ngIf="transaction">
        <div class="history" *ngFor="let history of transaction[isUseCard]">
          <nav class="id sans">{{history?.nomer}}</nav>
          <nav class="name sans">{{history?.data}}</nav>
          <nav class="email sans">{{history?.termin}}</nav>
          <nav class="balance sans">{{history?.subscription}}</nav>
          <nav class="transaction sans">{{history?.method}}</nav>
          <nav class="status sans">{{history?.status}}</nav>
          <nav class="status sans">{{history?.kwota}}</nav>
        </div>
      </div>
      <div class="allCard">
        <div>
          Картки
        </div>
        <div class="card" *ngFor="let card of card" (click)="choiceCard(card?.cvc)">
          <p>{{card?.number}}</p>
        </div>
      </div>
    </div>

  </div>
</div>