<div class="users-list">
  <div class="user" *ngFor="let user of userInfo">
    <div [ngClass]="{ 'active': isActiveEmail === user.profile.email }" class="user_info"
      (click)="openSettings(user.profile.email)">
      <nav class="id sans">{{ user?.profile?.userID }}</nav>
      <nav class="name sans">{{ user?.profile?.name }}</nav>
      <nav class="email sans">{{ user?.profile?.email }}</nav>
      <nav class="balance sans">{{ user?.monitoring?.balance ? user?.monitoring?.balance : 0 }}</nav>
      <nav class="transaction sans">{{ user?.monitoring?.transactions ? user?.monitoring?.transactions : 0 }}</nav>
      <nav class="status sans">{{ user?.profile?.rules }}</nav>
      <div class="history_actions">
        <button (click)="removeUser(user.profile?.userID, user.profile?.token)"> <mat-icon
            svgIcon="remove"></mat-icon></button>
        <button (click)="openPopupUser(user?.profile?.email)"> <mat-icon svgIcon="settings"></mat-icon> </button>
      </div>
    </div>
    <div class="user_dop" [ngClass]="{ 'active': isActiveEmail === user.profile.email }">
      <div class="main_info">
        <div *ngFor="let card of headerData; index as i" class="card">
          <p class="title">{{card.title}}</p>
          <div class="bottom">
            <p *ngIf="isModeChange !== i" class="info">{{card.data}}</p>
            <input [(ngModel)]="monitoringChanges" type="number" *ngIf="isModeChange === i">
            <mat-icon svgIcon="settings" (click)="useEditeMode(i)" *ngIf="isModeChange !== i && i === 4"></mat-icon>
            <img *ngIf="isModeChange !== i && i !== 4" (click)="useEditeMode(i)"
              src="../../../../../../assets/images/profile/edite.png" alt="">
            <!-- <mat-icon *ngIf="isModeChange !== i && i !== 4" (click)="useEditeMode(i)" svgIcon="edite"></mat-icon> -->
            <mat-icon *ngIf="isModeChange === i" (click)="saveMonitoringData(card.title, user.profile?.userID)"
              svgIcon="save"></mat-icon>
          </div>
          <div class="line {{card.color}}"></div>
        </div>
      </div>
      <div class="transaction" *ngIf="user.transactions">
        <div class="history" *ngFor="let history of user.transactions; index as i">
          <nav class="id sans">{{history?.nomer}}</nav>
          <nav class="name sans">{{history?.data}}</nav>
          <nav class="email sans">{{history?.termin}}</nav>
          <nav class="balance sub sans">{{history?.subscription}}</nav>
          <nav class="transaction sans">{{history?.method|cardFormat:history.subscription}}</nav>
          <nav class="status sans">{{history?.status}}</nav>
          <nav class="status sans">{{history?.kwota}}</nav>
          <div class="history_actions">
            <button mat-icon-button
              (click)="openTransitionPopup(user?.profile?.email, history?.nomer, i, user.profile.userID)"> <img
                src="../../../../../../assets/images/profile/edite.png" alt=""></button>
            <button (click)="removeTransition(user.profile.email, user.profile.userID, history?.nomer)" mat-icon-button> <mat-icon svgIcon="remove"></mat-icon></button>
          </div>
        </div>
      </div>
      <div class="allCard">
        <div class="card_title sans">
          Картки
        </div>
        <div class="card_title" *ngFor="let card of user.card">
          <p>{{card?.number}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="popup" *ngIf="isConfirmAttention">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Are you sure that you want delete this user</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="isConfirmAttention = false">Cances</button>
      <button mat-button (click)="confirme()">Confirme</button>
    </mat-card-actions>
  </mat-card>
</div>