<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">Replenishment of the balance</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="column">
        <mat-label class="label sans">Card number:</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="numberCard" maxlength="19"
        [value]="form.get('numberCard').value | creditCardFormatter">
      </div>
      <div class="row">
        <div class="column">
          <mat-label class="label sans">Validity</mat-label>
          <input class="sans" type="text" (input)="onDateInputChange($event)" placeholder="MM/YY"
            formControlName="data">
        </div>
        <div class="column">
          <mat-label class="label sans">CVV2</mat-label>
          <input class="sans" (input)="onInputChange($event, 3)" placeholder="...." type="text" formControlName="cvc">
        </div>
      </div>
      <div class="column">
        <mat-label class="label sans">Name of the owner</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">Phone number</mat-label>
        <input matInput class="sans" placeholder="+380" type="text" formControlName="number" maxlength="16"
          [value]="form.get('number').value | phoneFormat">
      </div>
      <div class="column">
        <mat-label class="label sans">Email</mat-label>
        <input class="sans" placeholder="Email" type="email" formControlName="email">
      </div>
      <div class="column">
        <mat-label class="label sans">Top-up amount</mat-label>
        <input class="sans" type="number" placeholder="Сума поповнення" formControlName="suma">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>Cancel</button>
        <button type="submit" class="save sans" mat-button>Save Changes</button>
      </div>
    </form>
  </div>

</div>