<div class="media-channel" *ngIf="activeOffers;else loading">
  <div class="channel" *ngFor="let channel of activeOffers;index as i">
    <nav class="id">{{channel.id}}</nav>
    <nav class="name">{{channel.name}}</nav>
    <nav class="link">{{channel.link}}</nav>
    <nav class="stream">{{channel.brand}}</nav>
    <nav class="subscribe">${{channel.payments ? channel.payments : 0}}</nav>

    <nav class="price">${{channel.balance ? channel.balance : 0}}</nav>
    <nav class="settings"> {{channel.vip ? 'VIP' : ''}}</nav>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>