<section class="history">
  <p class="title" [innerHTML]="'balance.history' | translate"></p>
  <div class="block_info">
    <div class="info_content">
      <drag-scroll #nav>
        <div drag-scroll-item class="history" *ngFor="let title of transactions; index as i">
          <div class="block">
            <div class="row">
              <nav>Status</nav>
              <nav [ngClass]="{'check': title.status === 'Straight to'}">{{title.status}}</nav>
            </div>
            <div class="column">
              <nav>Номер</nav>
              <nav class="">{{title.numberCode}}</nav>
            </div>
            <div class="column">
              <nav>Дата рахунку</nav>
              <nav class="">{{title.dataCard}}</nav>
            </div>
            <div class="column">
              <nav>Дата оплати</nav>
              <nav class="">{{title.dataHistory}}</nav>
            </div>
            <div class="column">
              <nav>Спосіб оплати</nav>
              <nav class="">{{title.card| formatCardNumber:'center'}}</nav>
            </div>
            <div class="column">
              <nav>Підписка</nav>
              <nav class="">{{title.subscribe}}</nav>
            </div>
            <div class="column">
              <nav>Сума</nav>
              <nav class="">${{title.suma ? title.suma : 0}}</nav>
            </div>
          </div>
        </div>
      </drag-scroll>
    </div>
  </div>
</section>