<mat-toolbar>
  <mat-toolbar-row>
    <div class="sidebar_title">
      <nav class="logo"> <img class="img" src="../../../assets/images/auth/auth_logo.png" alt="Neuroline"></nav>
      <h1 class="title">Neurolide</h1>
    </div>
    <span class="example-spacer"></span>
    <button (click)="toogleSidebar()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="sidebar" *ngIf="isSidebar">
    <app-navigation></app-navigation>
  </div>
</mat-toolbar>