<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">{{formData.title}}</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="column">
        <mat-label class="label sans">{{formData.name}}</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.link}}</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="link">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.subscribe}}</mat-label>
        <input class="sans" placeholder="...." type="number" formControlName="subscribe">
      </div>

      <div class="column">
        <mat-label class="label sans">{{formData.ctr}}</mat-label>
        <input class="sans" placeholder="...." type="number" formControlName="stream">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.price}}</mat-label>
        <input class="sans" type="number" placeholder="...." formControlName="price">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.model}}</mat-label>
        <div class="model">
          <button *ngFor="let payment of paymentData;index as i"
            [ngClass]="{'active': choicePayment === payment.title} " type="button" (click)="open( payment.title, i)">
            <p>{{payment.title}}</p>
            <!-- <input *ngIf="isOpenTab[i]" type="text" value="{{payment.value}}">
            <input *ngIf="isOpenTab[i]" type="number" value="{{payment.price}}"> -->
          </button>

        </div>
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>{{formData.cancel}}</button>
        <button type="submit" class="save sans" mat-button><mat-icon svgIcon="add"></mat-icon>
          <p>{{formData.save}}</p>
        </button>
      </div>
    </form>
  </div>

</div>