.cards_payment {
  align-items: center !important;

  &.home {
    flex-direction: column-reverse;
    gap: 43px;
  }

  .cards_payment_header {
    margin: 0 29px 0 0;
  }

  .cards_payments_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
  }

  .cards_payment_title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 26.04px;
    color: #FFFFFF;
  }

  .card-added {
    padding: 0;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    max-height: 30px;
    background-color: #FFFFFF;

    mat-icon {
      width: 10px;

      ::ng-deep {
        svg {
          path {
            fill: #6CA5FC;
          }
        }
      }
    }

  }

  .content {
    .content-cards {
      display: none;
      cursor: auto;

      &.active {
        display: flex;
      }
    }
  }
}