<section class="cards_payment" [ngClass]="{'home': url === '/'}">
  <div class="cards_payment_header">
    <div class="cards_payments_mobile">
      <p class="cards_payment_title">Add Card</p>
      <mat-icon svgIcon="credit-card"></mat-icon>
    </div>
    <button class="card-added" (click)="openCardPopup()">
      <mat-icon svgIcon="add"></mat-icon>
    </button>
  </div>
  <div class="content">
    <drag-scroll #nav (indexChanged)="chanegActiveCard($event)">
      <mat-card drag-scroll-item class="content-cards" *ngFor="let card of cards;index as i"
        [ngClass]="{'active': this.activeCard === i}">
        <mat-card-content class="content-cards-container">
          <div class="card-payment" style="background-image: url('./assets/images/cards/cards.jfif')">
            <div class="card-payment-header">
              <div class="values-data">
                <p class="value">${{ card.balance ? card.balance : 0 }}</p>
                <p class="valut">USD</p>
              </div>
              <mat-icon [svgIcon]="card.type === 'Visa' ? 'visa' : 'master_card'"></mat-icon>
            </div>
            <div class="card-payment-content">
              <div class="card-payment-content-left">
                <p class="number">{{ card.number| formatCardNumber:'start'}}</p>
                <mat-icon svgIcon="copy" (click)="copyToClipboard(card.number)"></mat-icon>
              </div>
              <div class="card-payment-content-right">
                <p class="expires">{{'balance.expires' | translate}}</p>
                <p class="number">{{ card.data }}</p>
              </div>
            </div>
            <div class="card-payment-footer">
              <p class="name-card">{{ card.name }}</p>
              <mat-icon svgIcon="more"></mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </drag-scroll>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
</section>