<div class="sidebar_content" *ngIf="isLoading;else loading">
  <nav *ngFor="let page of sidebarData" [ngClass]="{
    'hide': (userRule === 'manager' && (page.title === 'Brand' || page.title === 'Affiliate')) ||
            (userRule === 'brand' && (page.title === 'Manager' || page.title === 'Affiliate')) ||
            (userRule === 'affiliate' && (page.title === 'Manager' || page.title === 'Brand'))
  }">
    <a routerLinkActive="active" [routerLink]="[page.url]" (click)="removePopup()" class="content_card"
      *ngIf="(userRule !== 'manager' || (userRule === 'manager' && page.title !== 'Brand' && page.title !== 'Affiliate')) 
            && (userRule !== 'brand' || (userRule === 'brand' && page.title !== 'Manager' && page.title !== 'Affiliate'))
            && (userRule !== 'affiliate' || (userRule === 'affiliate' && page.title !== 'Manager' && page.title !== 'Affiliate'))">
      <img [src]="page.icon" alt="{{page.title}}">
      <p>{{page.title}}</p>
    </a>
  </nav>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>