.sidebar_content {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  nav {
    &.hide {
      display: none;
    }
  }

  .content_card {
    text-decoration: none;
    padding: 20px 0;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media (max-width: 1124px) {
      padding: 20px;
      background-color: transparent;
      box-shadow: none;
      justify-content: flex-start;
    }

    p {
      font-family: "Public Sans", sans-serif;
      font-size: 1.6rem;
      line-height: 18.8px;
      color: #E1E1E1;
    }

    mat-icon {
      ::ng-deep {
        svg {
          path {
            stroke: #E1E1E1;
          }
        }
      }
    }

    &:hover {
      background: #1e293a;
    }

    &.active {
      p {
        color: #302EFF;
      }

      mat-icon {
        ::ng-deep {
          svg {
            path {
              stroke: #302EFF;
            }
          }
        }
      }
    }
  }
}

app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  ::ng-deep {
    circle {
      stroke: rgb(17, 47, 146) !important;
    }
  }
}