<div class="sidebar_content" *ngIf="isLoading;else loading">
  <nav id="{{i}}" *ngFor="let page of sidebarData; index as i" [ngClass]="{

    'hide': (userRule === 'manager' && (page.url === '/brand' || page.url === '/affiliate')) ||
            (userRule === 'brand' && (page.url === '/manager' || page.url === '/affiliate')) ||
            (userRule === 'affiliate' && (page.url === '/manager' || page.url === '/brand')) || (i === 0 && !isMobile) ||
            (userRule === 'brand' && (page.url === '/users'))
  }">
    <a routerLinkActive="active" [routerLink]="[page.url]" (click)="removePopup()" class="content_card"
      *ngIf="(userRule !== 'manager' || (userRule === 'manager' && page.url !== '/brand' && page.url !== '/affiliate')) 
            && (userRule !== 'brand' || (userRule === 'brand' && page.url !== '/manager' && page.url !== '/affiliate'))
            && (userRule !== 'affiliate' || (userRule === 'affiliate' && page.url !== '/manager' && page.url !== '/affiliate')) ||  (i === 0 && !isMobile)">
      <img [src]="page.icon" alt="{{page.title}}">
      <p>{{page.title}}</p>
    </a>
  </nav>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>