<div class="user-header-search" *ngIf="userHead">
  <nav [ngClass]="{
    'hide': (search['tag'].toLocaleLowerCase() === 'vip' && rules === 'manager') ||
    search['tag'].toLocaleLowerCase() === 'setting'&& rules === 'brand' || 
    search['tag'].toLocaleLowerCase() === 'payout' && rules === 'brand' ||
    search['tag'].toLocaleLowerCase() === 'advertise' && rules === 'affiliate' ||
    search['tag'].toLocaleLowerCase() === 'setting' && rules === 'affiliate'
  }" class="header_content {{search['title'].toLocaleLowerCase()}}" (click)="toogleFilter(i, search.tag)"
    *ngFor="let search of userHead; index as i">
    <p>{{search.title}}</p>
    <mat-icon [ngClass]="{'active': i === active}" svgIcon="arrow"></mat-icon>
  </nav>
</div>