<mat-card class="register">
  <h3 class="register-title">Registration</h3>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-rules">
      <button mat-button class="rules">Affiliate</button>
      <button mat-button class="rules">Brand</button>
    </div>
    <div class="name">
      <mat-label class="label">Name</mat-label>
      <input placeholder="Name" type="text" formControlName="name">
    </div>
    <div class="email">
      <mat-label class="label">Email</mat-label>
      <input matInput type="email" placeholder="Email" required formControlName="Email">
      <div *ngIf="form.get('email').invalid && form.get('email').touched">
        <small style="color: red">Email invalid</small>
      </div>

    </div>

    <div class="email">
      <mat-label class="label">Password</mat-label>
      <input matInput type="password" placeholder="password" required formControlName="password">
      <div *ngIf="form.get('password').invalid && form.get('password').touched">
        <small style="color: red">Password invalid</small>
      </div>
    </div>
    <div class="password">
      <mat-label class="label">Repeat the password</mat-label>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="check-login">
      <mat-checkbox [formControl]="hideRequiredControl">Remember data</mat-checkbox>
    </div>

    <button [disabled]="form.invalid" type="submit" class="register" mat-button>Sign up</button>
  </form>




</mat-card>