<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">Change Profile</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="column">
        <mat-label class="label sans">Name:</mat-label>
        <input class="sans" placeholder="Name" type="text" formControlName="name"
          [value]="this.userInfo?.name ?this.userInfo?.name : ''">
      </div>
      <div class="column">
        <mat-label class="label sans">Address:</mat-label>
        <input class="sans" placeholder="Address" type="text" formControlName="address"
          [value]="this.userInfo?.address ? this.userInfo?.address : ''">
      </div>
      <div class="column">
        <mat-label class="label sans">Number Phone:</mat-label>
        <input class="sans" placeholder="Number Phone" type="number" formControlName="number"
          [value]="this.userInfo?.number ? this.userInfo?.number : ''">
      </div>
      <div class="column">
        <mat-label class="label sans">Password</mat-label>
        <input class="sans" placeholder="Password" type="password" formControlName="password"
          [value]="this.userInfo?.password ? this.userInfo?.password : ''">
      </div>
      <div class="column">
        <mat-label class="label sans">Avatar</mat-label>
        <input class="sans" type="file" formControlName="avatar" [value]="this.userInfo?.avatar ? this.userInfo?.avatar : ''">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>Cancel</button>
        <button type="submit" class="save sans" mat-button>Save Changes</button>
      </div>
    </form>
  </div>
</div>