<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">Change Profile</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="userInfo">
      <div class="column">
        <mat-label class="label sans">Name:</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">Surname:</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="surname">
      </div>
      <div class="column">
        <mat-label class="label sans">Number Phone:</mat-label>
        <input class="sans" placeholder="...." type="number" formControlName="number">
      </div>
      <div class="column">
        <mat-label class="label sans">Password</mat-label>
        <input class="sans" placeholder="...." type="password" formControlName="password">
      </div>
      <!-- <div class="column">
        <mat-label class="label sans">Avatar</mat-label>
        <input class="sans" type="file" formControlName="avatar">
      </div> -->
      <div class="column">
        <mat-label class="label sans">Password</mat-label>
        <input class="sans" placeholder="...." type="password" formControlName="password">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel" mat-button>Cancel</button>
        <button type="submit" class="save" mat-button>Save Changes</button>
      </div>
    </form>
  </div>

</div>