.header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @media (max-width: 1124px) {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .card {
    border-radius: 10px;
    background-color: #0E1218;
    display: flex;
    flex-direction: column;
    max-width: 375.75px;
    height: 108px;
    width: 100%;

    position: relative;

    @media (max-width: 1124px) {
      height: 66px;
      max-width: 100%;
      justify-content: flex-end;
    }

    .title {
      padding: 20px 0 0 33.89px;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.2rem;
      letter-spacing: -0.02em;
      color: #FFFFFF;

      @media (max-width: 1124px) {
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 6px 0 0 12px;
      }
    }

    .info {
      padding: 0 0 0 26px;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.2rem;
      letter-spacing: -0.02em;
      color: #FFFFFF;

      @media (max-width: 1124px) {
        font-size: 1.9rem;
        padding: 6px 0 0 12px;
      }
    }

    .line {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      border: 4.5px solid #423EFC;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      @media (max-width: 1124px) {
        border: 1.75px solid #423EFC;

        &.yellow {
          border: 1.75px solid #F6D423 !important;
        }

        &.green {
          border: 1.75px solid #7C57F4 !important;
        }

        &.purple {
          border: 1.75px solid #36393E !important;
        }
      }

      &.yellow {
        border: 4.5px solid #F6D423;
      }

      &.green {
        border: 4.5px solid #7C57F4;
      }

      &.purple {
        border: 4.5px solid #36393E;
      }
    }
  }
}