.action_search{
  &.brand{
    max-width: 289px !important;
    input{
      max-width: 100% !important;
    }
  }
}

button{
  &.hide{
    display: none !important;
  }
  &.active{
    display: flex !important;
  }
}