<div class="search_header">
  <p class="search_title" [innerHTML]="'media.headerTitle'| translate"></p>
  <div class="search_actions">
    <div class="action_search {{rules}}">
      <mat-icon svgIcon="search"></mat-icon>
      <input type="text" placeholder="{{'media.search'| translate}}" (input)="changeData($event)">
    </div>
    <button [ngClass]="{'hide': rules === 'manager' || rules === 'affiliate', 'active': rules === 'affiliate' && url === '/profile'}" (click)="openForm()" mat-button class="action_offer">{{'media.addedOffer' |
      translate}}</button>
  </div>
</div>