<section class="cards_payment">
  <div class="cards_payment_header">
    <p class="cards_payment_title" [innerHTML]="'balance.method'|translate"></p>
  </div>
  <div class="content">
    <mat-card class="content-cards" *ngFor="let card of cards;index as i" (click)="choiceCard(card.cvc, i)"
      [ngClass]="{'active': this.activeCard === i}">
      <mat-card-content class="content-cards-container">
        <div class="card-payment" style="background-image: url('./assets/images/cards/cards.jfif')">
          <div class="card-payment-header">
            <div class="values-data">
              <p class="value">${{ card.balance ? card.balance : 0 }}</p>
              <p class="valut">USD</p>
            </div>
            <mat-icon [svgIcon]="card.type === 'Visa' ? 'visa' : 'master_card'"></mat-icon>
          </div>
          <div class="card-payment-content">
            <div class="card-payment-content-left">
              <p class="number">{{ card.number| formatCardNumber:'start'}}</p>
              <mat-icon svgIcon="copy" (click)="copyToClipboard(card.number)"></mat-icon>
            </div>
            <div class="card-payment-content-right">
              <p class="expires">{{'balance.expires' | translate}}</p>
              <p class="number">{{ card.data }}</p>
            </div>
          </div>
          <div class="card-payment-footer">
            <p class="name-card">{{ card.name }}</p>
            <mat-icon svgIcon="more"></mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="added-card" (click)="openCardPopup()">
      <mat-card-content class="added-card-content">
        <mat-icon svgIcon="plus"></mat-icon>
        <p class="txt">{{'balance.addNewCard'| translate}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>


</section>