<div class="user">
  <div class="user_info">
    <div class="info_table" *ngFor="let user of userInfo">
      <nav class="description">{{user.text}}</nav>
      <nav class="log">{{user.data}}</nav>
    </div>
  </div>
  <div class="user_action">
    <button [ngClass]="{'hide': rules === 'affiliate' || rules === 'brand'}" *ngFor="let action of userActions"
      class="sans {{action.class}}" (click)="openPopup()" mat-button>{{action.text}}</button>
  </div>
</div>
<div class="user_action_mobile">
  <button [ngClass]="{'hide': rules === 'affiliate' || rules === 'brand'}" *ngFor="let action of userActions"
    class="sans {{action.class}}" (click)="openPopup()" mat-button>{{action.text}}</button>
</div>