<div class="profile">
  <div class="user">
    <div class="user_info">
      <div class="info_table" *ngFor="let user of userInfo">
        <nav class="description">{{user.text}}</nav>
        <nav class="log">{{user.data}}</nav>
      </div>
    </div>
    <div class="user_action">
      <button
        *ngFor="let action of userActions" class="sans {{action.class}}" (click)="actionsLogout(action.class)"
        mat-button>{{action.text}}</button>
    </div>
  </div>
  <div class="user_avatar">
    <img (error)=" avatar = '../../../../../../assets/images/profile/avatar.png'"
      [src]="avatar ? avatar : '../../../../../../assets/images/profile/avatar.png'" alt="Avatar">
  </div>
</div>