.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 12px;
  padding: 0 8px;

  .question_block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    padding: 18px 30px 15px 18px;
    background-color: #F1F4FF;
    border-radius: 20px;
    position: relative;

    max-width: 768px;
    width: 100%;
    cursor: pointer;

    &.active {
      .description {
        display: flex;
      }

      .icon {
        mat-icon {
          transform: rotate(180deg);
        }
      }

    }

    .title {
      font-size: 2.2rem;
      color: #000000;
      line-height: 25.85px;
    }

    .description {
      display: none;
      font-size: 1.6rem;
      color: #434343;
      line-height: 18.8px;



    }

    .icon {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      mat-icon {
        width: 14px;

        svg {
          width: 14px;
          height: 7px;
        }
      }
    }


  }
}