<section class="list-mobile" *ngIf="offerInWork; else loading">
  <drag-scroll #nav>
    <div drag-scroll-item class="media" *ngFor="let channel of offerInWork; index as i"
      [ngClass]="{'active': activeSlide === i}">
      <div class="content">
        <div class="media_header">
          <div class="media_header_left">
            <nav class="id">UID {{channel.id}}</nav>
            <nav class="status">{{formData.status}}</nav>
          </div>
          <div class="action">
            <nav>{{channel.vip ? 'VIP': ''}}</nav>
            <button *ngIf="url === '/offers-in-works'" (click)="removeOffers(channel.id)" type="submit"
              class="remove "><mat-icon svgIcon="remove"></mat-icon></button>
          </div>
        </div>

        <div class="column">
          <nav class="title">{{formData.name}}</nav>
          <nav class="desc">{{channel.name}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.link}}</nav>
          <nav class="desc">{{channel.link}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.brand}}</nav>
          <nav class="desc">{{channel.brand}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.payments}}</nav>
          <nav class="desc">{{channel.payments}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.balance}}</nav>
          <nav class="desc">{{channel.balance}}</nav>
        </div>
        <div class="column" *ngIf="url !== '/offers-in-works'">
          <nav class="title">{{formData.payout}}</nav>
          <div class="payout_methods">
            <button [ngClass]="{'active': activePayout[i ] === model.title || channel?.payout === model.title}"
              (click)="choicePayout(i, model?.title, channel?.id)" mat-button class="payout"
              *ngFor="let model of modelPayment">{{model.title}}</button>
          </div>
        </div>
      </div>
    </div>
  </drag-scroll>
</section>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>