<mat-card class="register">
  <h3 class="register-title">Login to the account</h3>
  <p class="register-description">Enter e-mail and password to log in to the account!</p>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-rules">
      <button type="button" mat-button class="rules" [ngClass]="{'active': isRulesChoise === 'affiliate'}"
        (click)="choiseRules('affiliate')">Affiliate</button>
      <button type="button" mat-button class="rules" [ngClass]="{'active': isRulesChoise === 'brand'}"
        (click)="choiseRules('brand')">Brand</button>
    </div>

    <div class="email">
      <mat-label class="label">E-mail</mat-label>
      <input matInput type="email" placeholder="Email" required formControlName="email" [value]="this.form.value.email">
    </div>

    <div class="password">
      <mat-label class="label">Password</mat-label>
      <input matInput type="password" placeholder="password" required formControlName="password"
        [value]="this.form.value.password">
    </div>


    <div class="check-login">
      <mat-checkbox [formControl]="hideRequiredControl">Remember data</mat-checkbox>
    </div>

    <div *ngIf="form.get('email').invalid && form.get('email').touched">
      <small style="color: red">Email invalid</small>
    </div>
    <div *ngIf="form.get('password').invalid && form.get('password').touched">
      <small style="color: red">Password invalid</small>
    </div>

    <button [disabled]="form.invalid && (!this.isRulesChoise)" type="submit" class="login" mat-button>Sign
      in</button>
  </form>
  <div class="footer_info">
    <p>© {{data.getFullYear()}} Horizon UI. All Rights Reserved. Made with love by Simmmple!</p>
  </div>
</mat-card>