<mat-card class="register">
  <h3 class="register-title" [innerHTML]="formData.loginAccount"></h3>
  <p class="register-description" [innerHTML]="formData.loginDescription"></p>

  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-rules">
      <button *ngFor="let rule of authRules" type="button" mat-button class="rules"
        [ngClass]="{'active': isRulesChoise === rule.rule}" (click)="choiseRules(rule.rule)">{{rule.data}}</button>
    </div>

    <div class="email">
      <mat-label class="label" [innerHTML]="formData.email"></mat-label>
      <input matInput type="email" [placeholder]="formData.email" required formControlName="email"
        [value]="this.form.value.email">
    </div>

    <div class="password">
      <mat-label class="label" [innerHTML]="formData.password"></mat-label>
      <input matInput type="password" [placeholder]="formData.password" required formControlName="password"
        [value]="this.form.value.password">
    </div>


    <div class="check-login">
      <mat-checkbox [formControl]="hideRequiredControl">{{formData.rememberData}}</mat-checkbox>
    </div>

    <div class="error" *ngIf="errorData">
      <small style="color: red">{{errorData}}</small>
    </div>
    <div *ngIf="form.get('email').invalid && form.get('email').touched">
      <small style="color: red">Email invalid</small>
    </div>
    <div *ngIf="form.get('password').invalid && form.get('password').touched">
      <small style="color: red">Password invalid</small>
    </div>

    <button [disabled]="form.invalid && (!this.isRulesChoise)" type="submit" class="login" mat-button [innerHTML]="formData.login"></button>
  </form>
  <div class="footer_info">
    <p><span>© </span> <span>{{data.getFullYear()}} </span> <span [innerHTML]="formData.formDescription"></span> </p>
  </div>
</mat-card>