<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans" *ngIf="statusEdite !== 'edite';else edite">Add an offer</h3>
    <ng-template #edite>
      <h3 class="popup_title sans">{{formData.title}}</h3>
    </ng-template>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <div class="column">
        <mat-label class="label sans">{{formData.name}}</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.link}}</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="link">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.brand}}</mat-label>
        <input class="sans" placeholder="...." type="text" formControlName="brand">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.payments}}</mat-label>
        <input class="sans" placeholder="...." type="number" formControlName="payments">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.balance}}</mat-label>
        <input class="sans" placeholder="...." type="number" formControlName="balance">
      </div>
      <div class="column">
        <mat-label class="label sans">{{formData.model}}</mat-label>
        <div class="methode">
          <button type="button" [ngClass]="{'active': method.title === activeMethod}"
            (click)="choiceMethod(method.title)"
            *ngFor="let method of modelPayment;index as i">{{method.title}}</button>
        </div>
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>{{formData.cancel}}</button>
        <button type="submit" class="save sans" mat-button><p>{{formData.save}}</p> <mat-icon svgIcon="add"></mat-icon></button>
      </div>
    </form>
  </div>

</div>