.graphics {
  display: flex;
  max-width: 907px;
  width: 100%;
  flex-direction: column;
  gap: 27px;
  padding: 50.48px 0 0 0;
  background-color: #0E1218;

  .item {
    max-width: 837px;
    display: flex;
    align-items: center;
    position: relative;

    .background {
      height: 48.36px;
      display: flex;
      align-items: center;
      padding-left: 28px;
      color: #fff;
      font-size: 2.4rem;
      font-weight: 700;

      &.cliques,
      &.leads,
      &.index {

        background: linear-gradient(90deg, rgba(66, 62, 252, 0) 0%, #423EFC 100%);
      }

      &.hold,
      &.disregard,
      &.enrollment {
        background: linear-gradient(90deg, rgba(246, 212, 35, 0) 0%, #F6D423 100%);
      }

      &.approve,
      &.accrual,
      &.budget {
        background: linear-gradient(90deg, rgba(125, 88, 246, 0) 0.01%, #7D58F6 99.99%);
      }

      &.advice {
        background: linear-gradient(90deg, rgba(54, 57, 61, 0) 0.04%, #36393D 99.96%);
      }

      .line {
        background: #51505080;
        height: 2px;
        width: 100%;
        position: absolute;
      }
    }
  }

  .bottom_line {
    margin-top: 50.6px;
    background-color: #3334FF;
    height: 13.6px;
    border-radius: 0 0 20px 20px;

  }
}