<section *ngIf="!isMobile" class="added-offers">
  <app-added-offers-header *ngIf="url !== '/manager'"
    [header]="'offers.addedOffer'| translate"></app-added-offers-header>
  <app-added-offers-filter></app-added-offers-filter>
  <app-added-offers-list></app-added-offers-list>

</section>
<div *ngIf="isMobile" class="mobile_header">
  <h3>Your Offers</h3>
  <button class="header_add_offer">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
<app-offers-mobile *ngIf="isMobile"></app-offers-mobile>
<app-form-offers *ngIf="isOpenForm"></app-form-offers>