.added-offers {
  margin-top: 18px;
}

.mobile_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 20px;

  h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 41.66px;
    background: linear-gradient(90deg, #E5F0FF 7%, #769BFE 66%, #302DFF 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header_add_offer {
    outline: none;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;

    mat-icon {
      ::ng-deep {
        svg {
          path {
            stroke: #6CA5FC;
            fill: #094FB8;
          }
        }
      }
    }
  }
}