<section *ngIf="!isMobile" class="added-offers">
  <app-added-offers-header *ngIf="url !== '/manager'"
    [header]="'offers.addedOffer'| translate"></app-added-offers-header>
  <app-added-offers-filter></app-added-offers-filter>
  <app-added-offers-list></app-added-offers-list>

</section>
<div class="mobile_offer_title" *ngIf="isMobile && url === '/added-offers'">
  <mat-icon svgIcon="media-canal"></mat-icon>
  <h3 class="title">Added offers</h3>
</div>
<div class="mobile_header" *ngIf="isMobile && url !== '/added-offers'">
  <h3>Your Offers</h3>
  <button (click)="openForm('added')" class="header_add_offer">
    <mat-icon svgIcon="add"></mat-icon>
  </button>
</div>
<app-added-offers-mobile *ngIf="isMobile"></app-added-offers-mobile>
<app-form-offers *ngIf="isOpenForm"></app-form-offers>