<section class="list-mobile">
  <div class="media" *ngFor="let channel of offers; index as i" [ngClass]="{'active': activeSlide === i}">
    <div class="media_header">
      <div class="media_header_left">
        <nav class="id">UID {{channel.id}}</nav>
        <nav class="status">Status</nav>
      </div>
      <div class="action">
        <button (click)="removeOffers(channel.id)" type="button" class="remove "><mat-icon
            svgIcon="cancel"></mat-icon></button>
        <button type="submit" class="save "><mat-icon
            svgIcon="confirme"></mat-icon></button>
        <button (click)="setVipStatus(channel.id)" type="submit" [ngClass]="{'active': channel.vip}"
          class="vip "><mat-icon svgIcon="vip"></mat-icon></button>
      </div>
    </div>

    <div class="column">
      <nav class="title">Name</nav>
      <nav class="desc">{{channel.name}}</nav>
    </div>
    <div class="column">
      <nav class="title">Link</nav>
      <nav class="desc">{{channel.link}}</nav>
    </div>
    <div class="column">
      <nav class="title">Brand</nav>
      <nav class="desc">{{channel.brand}}</nav>
    </div>
    <div class="column">
      <nav class="title">Payments</nav>
      <nav class="desc">{{channel.payments}}</nav>
    </div>
    <div class="column">
      <nav class="title">Balance</nav>
      <nav class="desc">{{channel.balance}}</nav>
    </div>
  </div>

</section>
<app-action-slide (activeId)="changeActiveCard($event)" [activeCard]="activeSlide" [slider]="offers"></app-action-slide>
<div class="add" (click)="openForm()">
  <mat-icon svgIcon="add"></mat-icon>
</div>