.media_header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  .id {
    height: 100% !important;
  }
}

.advertise {
  margin: 0 auto  ;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #302EFF;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 10px 40px;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 18.8px;

  &.hide {
    opacity: 0.7;
  }
}