.list-mobile {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  ::ng-deep drag-scroll {
    height: 100% !important;

    ::ng-deep .drag-scroll-content {
      display: flex !important;

      &::-webkit-scrollbar {
        display: none;
      }

      .media {
        height: 100% !important;
        min-width: 79vw !important;
        display: flex !important;
        justify-content: center;

        .content {
          padding: 23px 8px 17px 10px;
          border-radius: 20px;
          background: #0E1218;
          box-shadow: 0px 4px 4px 0px #0000001A;
          width: 344px;
          display: flex;
          flex-direction: column;
          gap: 14px;

          &.active {
            display: flex;
          }

          .media_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .status {
              font-size: 2.2rem;
              line-height: 25.85px;
              color: #FFFFFF;
            }

            .action {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 8px;

              button {
                border-radius: 50%;
                min-width: 26px;
                height: 26px;
                padding: 0;
                outline: none;
                border: none;
                background-color: transparent;
                cursor: pointer;


                // &.save {
                //   background-color: #D1F5E4;
                //   display: flex;
                //   justify-content: center;
                //   align-items: center;

                //   mat-icon {
                //     width: 12px;

                //     svg {
                //       height: 8px;
                //     }
                //   }
                // }

                // &.vip {
                //   background-color: #FFD6001A;

                //   mat-icon {
                //     width: 10px;
                //   }
                // }

              }
            }
          }

          .id {
            height: 54px;
            font-size: 2.2rem;
            display: flex;
            align-items: center;

            color: #FFFFFF;
          }

          .column {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .title {
              font-size: 2.2rem;
              line-height: 25.85px;
              color: #FFFFFF;
            }

            .desc {

              color: #FFFFFF;
              font-size: 1.7rem;
              line-height: 19.98px;
            }
          }
        }
      }
    }
  }

}

.add {
  z-index: 99;
  position: fixed;
  top: 75px;
  right: 20px;
  cursor: pointer;

  mat-icon {
    width: 16.38px;
    height: 16.38px;
  }
}