<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">{{editeData.title}}</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="userInfo">
      <div class="column">
        <mat-label class="label sans">{{editeData.name}}</mat-label>
        <input class="sans" placeholder="{{editeData.name}}" type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">{{editeData.mail}}</mat-label>
        <input class="sans" placeholder="{{editeData.mail}}" type="email" formControlName="email">
      </div>
      <div class="column">
        <mat-label class="label sans">{{editeData.balance}}</mat-label>
        <input class="sans" placeholder="{{editeData.balance}}" type="number" formControlName="balance">
      </div>
      <div class="column">
        <mat-label class="label sans">{{editeData.transactions}}</mat-label>
        <input class="sans" placeholder="{{editeData.transactions}}" type="number" formControlName="transactions">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>{{editeData.cancel}}</button>
        <button type="submit" class="save sans" mat-button>{{editeData.saveChanges}}</button>
        <button type="submit" class="save mobile sans" mat-button>{{editeData.save}}</button>
      </div>
    </form>
  </div>

</div>