<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">Edit user data</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="userInfo">
      <div class="column">
        <mat-label class="label sans">Nickname</mat-label>
        <input class="sans" placeholder="Nickname" type="text" formControlName="name">
      </div>
      <div class="column">
        <mat-label class="label sans">Mail</mat-label>
        <input class="sans" placeholder="Mail" type="email" formControlName="email">
      </div>
      <div class="column">
        <mat-label class="label sans">Balance</mat-label>
        <input class="sans" placeholder="Balance" type="number" formControlName="balance">
      </div>
      <div class="column">
        <mat-label class="label sans">Transactions</mat-label>
        <input class="sans" placeholder="Transactions" type="number" formControlName="transactions">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>Cancel</button>
        <button type="submit" class="save sans" mat-button>Save Changes</button>
        <button type="submit" class="save mobile sans" mat-button>Save</button>
      </div>
    </form>
  </div>

</div>