<div class="media-channel {{rules}}" *ngIf="mediaChannels;else loading">
  <div class="channel {{rules}}" *ngFor="let channel of mediaChannels;index as i">
    <nav class="id">{{channel.id}}</nav>
    <nav class="name">{{channel.name}}</nav>
    <nav class="link" *ngIf="rules !== 'brand'">{{channel.link}}</nav>
    <nav class="subscribe">{{channel.subscribe}}</nav>
    <nav class="stream">{{channel.stream}}</nav>
    <nav>
      <button class="payout" (click)="openPayout(i)" *ngIf="statusPage !== 'profile'">
        <nav>{{activePayout && activePayout[i] ? activePayout[i] : channel?.payout}}</nav>
        <mat-icon svgIcon="arrow"></mat-icon>
        <div class="dropdown" [ngClass]="{'active': isOpen && isOpenDropdown[i]}">
          <nav (click)="choicePayout(i, 'CPM')"
            [ngClass]="{'active': activePayout[i ] === 'CPM' || channel?.payout === 'CPM'}">CPM</nav>
          <nav (click)="choicePayout(i, 'CPH')"
            [ngClass]="{'active': activePayout[i ] === 'CPH' || channel?.payout === 'CPH'}">CPH</nav>
          <mat-icon svgIcon="arrow"></mat-icon>
        </div>
      </button>
    </nav>

    <nav class="price">{{channel.price}} $</nav>
    <nav *ngIf="rules ==='brand'" class="stream">{{channel.vip ? "VIP" : ''}}</nav>
    <nav *ngIf="statusPage !== 'profile' && rules === 'manager'" class="status">
      <button (click)="removeMedia(channel.id)" type="button" class="remove "><mat-icon
          svgIcon="cancel"></mat-icon></button>
      <button (click)="setNewChanges(channel.id, i)" type="submit" class="save "><mat-icon
          svgIcon="confirme"></mat-icon></button>
      <button (click)="setVipStatus(channel.id)" type="submit" [ngClass]="{'active': channel.vip}"
        class="vip "><mat-icon svgIcon="vip"></mat-icon></button>
    </nav>
    <nav *ngIf="statusPage === 'profile'" class="settings">
      <button (click)="changeMedia(channel.id)" type="submit" class="save"><mat-icon
          svgIcon="settings"></mat-icon></button>
      <button (click)="removeMedia(channel.id)" type="button" class="remove {{urls}}"><mat-icon
          svgIcon="remove"></mat-icon></button>
    </nav>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>