<div class="profile-edite">
  <div class="popup">
    <h3 class="popup_title sans">{{dataEdite.title}}</h3>
    <form class="form" [formGroup]="form" (ngSubmit)="submit()" *ngIf="userInfoTransaction">
      <div class="column">
        <mat-label class="label sans">{{dataEdite.number}}</mat-label>
        <input class="sans" placeholder="{{dataEdite.number}}" type="text" formControlName="number">
      </div>
      <div class="row">
        <div class="column">
          <mat-label class="label sans">{{dataEdite.invoiceDate}}</mat-label>
          <input class="sans" placeholder="{{dataEdite.invoiceDate}}" type="date" formControlName="invoiceData">
        </div>
        <div class="column">
          <mat-label class="label sans">{{dataEdite.dataPayment}}</mat-label>
          <input class="sans" placeholder="{{dataEdite.dataPayment}}" type="date" formControlName="dataPayment">
        </div>
      </div>
      <div class="column">
        <mat-label class="label sans">{{dataEdite.status}}</mat-label>
        <input class="sans" placeholder="{{dataEdite.status}}" type="text" formControlName="status">
      </div>
      <div class="column">
        <mat-label class="label sans">{{dataEdite.payment}}</mat-label>
        <input class="sans" placeholder="{{dataEdite.payment}}" type="text" formControlName="paymentMethod">
      </div>
      <div class="column">
        <mat-label class="label sans">{{dataEdite.subscription}}</mat-label>
        <input class="sans" placeholder="{{dataEdite.subscription}}" type="text" formControlName="subscribe">
      </div>
      <div class="column">
        <mat-label class="label sans">{{dataEdite.amount}}</mat-label>
        <input class="sans" placeholder="{{dataEdite.amount}}" type="number" formControlName="suma">
      </div>
      <div class="action">
        <button type="button" (click)="closePopup()" class="cancel sans" mat-button>{{dataEdite.cancel}}</button>
        <button type="submit" class="save sans" mat-button>{{dataEdite.saveChanges}}</button>
        <button type="submit" class="save mobile sans" mat-button>{{dataEdite.save}}</button>
      </div>
    </form>
  </div>

</div>