
.right,
.left {
  position: absolute;
  cursor: pointer;
  z-index: 50;

  top: 0;
  bottom: 0;
  display: flex;

  button {
    outline: none;
    border: none;
    background: transparent;
  }
}

.left {
  left: 0;

  button {
    transform: rotate(180deg);
  }
}

.right {
  right: 0;
}