<section class="user_action">
  <div class="user_avatar">
    <img (error)=" avatar = '../../../../../../assets/images/profile/avatar.png'"
      [src]="avatar ? avatar : '../../../../../../assets/images/profile/avatar.png'" alt="Avatar">
  </div>
  <div class="user_actions">
    <button [ngClass]="{'hide': rules === 'affiliate' || rules === 'brand'}" (click)="actionsLogout(action.class)"
      *ngFor="let action of userActions" class="sans {{action.class}}" mat-button>{{action.text}}</button>
      
  </div>
</section>