.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 39px;
  background-color: #0A0A0A;

  @media (max-width: 1124px) {
    flex-direction: column;
  }

  .auth_logo_mobile {
    display: none;


    @media (max-width: 1124px) {
      background: url('../../../assets/images/auth/auth_bg_dark_mobile.png');
      background-repeat: no-repeat;
      background-size: 96% 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      min-height: 154px;
      background-position: right;
    }

    .auth_logo_inner {
      display: flex;
      flex-direction: row;
      gap: 14px;
      position: absolute;
      align-items: center;
      left: 18px;
      top: 33px;



      .logo {
        width: 68px;
        height: 68px;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        img {
          object-fit: cover;
          width: 53px;
          height: 56px;
        }
      }

      .title {
        font-size: 3.2rem;
        line-height: 4.16rem;
        color: #FFFFFF;
      }
    }

  }

  .auth_content {
    width: 38.2%;
    height: 100%;

    @media (max-width: 1124px) {
      width: 100%;
    }
  }

  .auth_logo {
    background: url('../../../assets/images/auth/auth_bg_dark.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    z-index: 0;
    flex: 1;

    @media (max-width: 1124px) {
      display: none;
    }

    .auth_logo_inner {
      display: flex;
      flex-direction: column;
      gap: 60px;
      position: absolute;
      align-items: center;
      right: 174px;
      top: 223.91px;

      @media (max-width: 1620px) {
        gap: 30px;
      }

      .logo {
        max-width: 300px;

        @media (max-width: 1620px) {
          max-width: 200px;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .title {
        font-size: 10rem;
        line-height: 13.02rem;
        color: #FFFFFF;

        @media (max-width: 1620px) {
          font-size: 6.5rem;
          line-height: 9.02rem;
        }

      }
    }

  }

  .popup-info {
    position: fixed;
    right: 70px;
    top: 100px;
    border-radius: 16px;
    padding: 12px;
    background-color: #D1F5E4;

    &.active {
      transition: all 0.5s ease;
      animation: open 0.5s;
    }

    p {
      font-size: 2rem;
    }
  }
}

@keyframes open {
  from {
    /* pushes the sun down past the viewport */
    transform: translateX(500px);
  }

  to {
    /* returns the sun to its default position */
    transform: translateX(0);
  }
}