.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 39px;
  background-color: #FEF9F3;


  .auth_content {
    width: 38.2%;
    height: 100%;
  }

  .auth_logo {
    background: url('../../../assets/images/auth/auth_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* максимальная ширина будет равна ширине родительского контейнера */
    position: relative;
    flex: 1;

    .auth_logo_inner {
      display: flex;
      flex-direction: column;
      gap: 60px;
      position: absolute;
      align-items: center;
      right: 174px;
      top: 223.91px;

      .logo {
        max-width: 300px;
      }

      .title {
        font-size: 10rem;
        font-weight: 400;
        line-height: 13.02px;
        text-align: left;
        color: #FFFFFF;

      }
    }

  }
}