.form_question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 41px;
  gap: 30px;
  max-width: 768px;
  width: 100%;
  margin: 8px auto 24px auto;
  background-color: #0e1218;

  @media (min-width: 576px) {

    max-width: 710px;
    width: 95%;
  }

  @media (min-width: 744px) {
    margin: 76px auto 24px auto;
    max-width: none;
  }

  h1 {
    display: none;
    padding: 0 18px;

    @media (min-width: 744px) {
      padding: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 95%;
    border-radius: 20px;
    padding: 24px 0;

    @media (min-width: 744px) {
      background-color: transparent;
      padding: 0;
    }

    h2 {
      font-family: Public Sans;
      font-size: 22px;
      font-weight: 400;
      line-height: 30.2px;
      color: #fff;
      padding: 0 18px;

      @media (min-width: 744px) {
        font-family: DM Sans;
        font-size: 28px;
        font-weight: 500;
        line-height: 36px;
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 25px 0 0 0;
      }

      @media (min-width: 576px) {
        font-size: 45px;
        line-height: 51px;
      }
    }

    .row {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (min-width: 744px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .column {
        @media (min-width: 744px) {
          max-width: 714px;
          width: 100%;
        }
      }
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 18px;

      @media (min-width: 744px) {
        padding: 0;
      }

      &.file {
        align-items: flex-end;
        display: none;

        @media (min-width: 744px) {
          padding: 0;
          display: block;
        }

        input {
          display: none;
        }

        label {
          display: inline-block;
          font-size: 1.4rem;
          outline: none;
          cursor: pointer;
          color: #FFFFFF;
        }
      }

      .label {
        font-size: 1.4rem;
        line-height: 16.45px;
        color: #fff;
      }

      input {
        // width: 100%;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid #71788c;
        font-size: 1.6rem;
        padding: 8px;

        @media (min-width: 744px) {
          padding: 8px 20px;
        }
      }

      textarea {
        border-radius: 30px;
        min-height: 144px;
        background-color: transparent;
        border: 1px solid #71788c;
        font-size: 1.6rem;
        padding: 8px;

        @media (min-width: 744px) {
          min-height: 70px;
        }
      }
    }

    .select_file {
      @media (max-width: 743px) {
        display: none;
      }

      @media (min-width: 744px) {
        border: none;
        background-color: none;
        color: #fff;

        &::file-selector-button {
          border-radius: 3px;
          background-color: transparent;
          color: #ffffff;
          text-decoration: hidden;
        }
      }
    }

    .action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 0 18px;
      margin-bottom: 25px;

      @media (min-width: 576px) {
        gap: 40px;
      }

      @media (min-width: 744px) {
        justify-content: center;
      }

      .add_file-button {
        input {
          display: none;
        }

        label {
          display: inline-block;
          font-size: 1.6rem;
          outline: none;
          cursor: pointer;
          color: #FFFFFF;
        }

        @media (min-width: 744px) {
          display: none;
        }
      }

      button {
        width: 100%;
        height: 100%;
        background: #3435ff;
        box-shadow: 0px 4px 20px 0px #00000040;
        font-family: Public Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #ffffff;
        padding: 10px 40px;
        border-radius: 20px;
        border: none;

        @media (min-width: 576px) {
          padding: 10px 50px;
          border-radius: 41px;
          font-size: 33px;
          line-height: 30px;
        }

        @media (min-width: 744px) {
          width: auto;
          box-shadow: 0px 4px 20px 0px #00000040;
          color: #ffffff;
          font-size: 1.6rem;
          line-height: 18.8px;
        }
      }
    }
  }
}