@use '@angular/material' as mat;

// Включаем общие стили для Angular Material.
@include mat.core();

// Определяем палитры для вашей темы, используя доступные палитры Material Design.
$Neuroline-primary: mat.define-palette(mat.$blue-palette); // Используем синюю палитру
$Neuroline-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// Палитра предупреждений (необязательно, по умолчанию красная).
$Neuroline-warn: mat.define-palette(mat.$blue-palette);

// Создаём объект темы. Тема состоит из конфигураций для отдельных систем, таких как "цвет" или "типография".
$Neuroline-theme: mat.define-light-theme((color: (primary: $Neuroline-primary,
        accent: $Neuroline-accent,
        warn: $Neuroline-warn,
      )));

// Включаем стили темы для ядра и каждого компонента, используемого в вашем приложении.
@include mat.all-component-themes($Neuroline-theme);

/* You can add global styles to this file, and also import other style files */

@import url('./style/mobile.scss');
@import url('./style/page.scss');

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 10px;
  font-family: "Public Sans", sans-serif !important;

}

* {
  transition: 0.5s all ease;
}

body {
  margin: 0;
  // font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.page {
  display: flex;
  flex-direction: row;
  gap: 42px;

  @media (max-width:1124px) {
    gap: 8px;
  }

  .right_block {
    width: 100%;
    background-image: url("./assets/images/main/main_page.png");
    background-repeat: no-repeat;
    background-size: 950px 455px;
    background-position: top right;
    padding-right: 30px;
  }
}

.sans {
  font-family: "Public Sans", sans-serif;

}