.media_header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  .id {
    height: 100% !important;
  }
}

.payout_methods {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 30px 0 0 0;

  .payout {
    display: flex;
    border: 0;
    outline: none;
    border-radius: 20px;
    background-color: #181A1E;
    box-shadow: 0px 4px 20px 0px #00000040;
    padding: 10px 12px;
    font-size: 1.2rem;
    color: #FFFFFF;


    &.active {
      background-color: #3334FF;
    }

  }
}


.action {
  button {
    &.remove {
      mat-icon {
        ::ng-deep {
          svg {

            circle,
            path {

              stroke: #E84646;
            }
          }
        }
      }
    }
  }
}

.advertise {
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #302EFF;
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 10px 40px;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 18.8px;

  &.hide {
    opacity: 0.7;
  }
}