<section class="list-mobile">
  <drag-scroll #nav>
    <div drag-scroll-item class="media" *ngFor="let channel of addedOffer; index as i">
      <div class="content">
        <div class="media_header">
          <div class="media_header_left">
            <nav class="id">UID {{channel.id}}</nav>
            <nav class="status">{{formData.status}}</nav>
          </div>
          <div class="action">
            <button (click)="changeOffers(channel?.id)" type="submit" class="save "><mat-icon
                svgIcon="settings"></mat-icon></button>
            <button (click)="removeOffers(channel?.id)" type="button" class="remove "><mat-icon
                svgIcon="remove"></mat-icon></button>
          </div>
        </div>

        <div class="column">
          <nav class="title">{{formData.name}}</nav>
          <nav class="desc">{{channel.name}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.link}}</nav>
          <nav class="desc">{{channel.link}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.brand}}</nav>
          <nav class="desc">{{channel.brand}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.payments}}</nav>
          <nav class="desc">${{channel.payments}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{formData.balance}}</nav>
          <nav class="desc">${{channel.balance}}</nav>
        </div>
        <div class="column" *ngIf="url !== '/offers-in-works'">
          <nav class="title">{{formData.payout}}</nav>
          <div class="payout_methods">
            <button [ngClass]="{'active': activePayout[i ] === model.title || channel?.payout === model.title}" mat-button class="payout"
              *ngFor="let model of modelPayment">{{model.title}}</button>
          </div>
        </div>
      </div>
    </div>
  </drag-scroll>

</section>