<div *ngIf="isMobile" class="mobileTitle">{{'profile'| translate}}</div>
<app-profile ></app-profile> 

<div *ngIf="rules === 'manager' || rules === 'affiliate'">
  <section *ngIf="!isMobile" class="media">
    <app-media-header></app-media-header>
    <app-media-list [statusPage]="'profile'"></app-media-list>
  </section>
  <div class="media_header_mobile" *ngIf="isMobile">
    <p>{{'media.headerTitle'| translate}}</p>
    <button>
      <mat-icon svgIcon="add" ></mat-icon>
    </button>
  </div>
  <app-list-mobile *ngIf="isMobile"></app-list-mobile>
  <app-form-media *ngIf="isOpenForm"></app-form-media>
</div>

<div *ngIf="rules === 'brand'">
  <app-cards-payment *ngIf="!isMobile"></app-cards-payment>
  <app-cards-payment-mobile *ngIf="isMobile"></app-cards-payment-mobile>
</div> 