<section *ngIf="!isMobile" class="offers">
  <app-offers-header [header]="'offers.headerTitle'| translate"></app-offers-header>
  <app-offers-filter></app-offers-filter>
  <app-offers-list [statusPage]="'offers'"></app-offers-list>
</section>
<div class="mobile_offer_title" *ngIf="isMobile">
  <mat-icon svgIcon="media-canal"></mat-icon>
  <h3 class="title">Offers</h3>
  <div class="add" *ngIf="rules === 'manager'">
    <mat-icon svgIcon="add"  (click)="openForm('offers')"></mat-icon>
  </div>
</div>
<app-offers-mobile *ngIf="isMobile"></app-offers-mobile>
<app-form-offers *ngIf="isOpenForm"></app-form-offers>