.profile-page {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  margin-top: 40px;

  @media (max-width: 1124px) {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .profile {
    padding: 35px 15px 52px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0E1218;
    max-width: 628px;
    width: 100%;
    border-radius: 20px;

    @media (max-width: 1420px) {
      width: 100%;
      max-width: 100%;
    }

    @media (max-width: 1124px) {
      padding: 11px 28px 15px 14px;
      position: relative;
    }

    app-user-edit {
      width: 100%;
    }
  }

  .graphics-data {
    width: 100%;

    @media (max-width: 1420px) {
      display: none;
    }
  }
}