.profile-page {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  margin-top: 40px;

  .profile {
    padding: 35px 15px 52px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0E1218;
    max-width: 628px;
    width: 100%;
    border-radius: 20px;

    app-user-edit {
      width: 100%;
    }
  }

  .graphics-data{
    width: 100%;
  }
}