<section class="list-mobile">
  <drag-scroll #nav>
    <div drag-scroll-item class="media" *ngFor="let channel of mediaChannels; index as i"
      [ngClass]="{'active': activeSlide === i}">
      <div class="content">
        <div class="media_header">
          <nav class="status">{{mediaData.status}}</nav>
          <div class="action">
            <button *ngIf="rules === 'manager' && url !== '/profile'" (click)="removeMedia(channel.id)" type="button"
              class="remove "><mat-icon svgIcon="cancel"></mat-icon></button>
            <button *ngIf="rules === 'manager' && url !== '/profile'" (click)="setNewChanges(channel.id, i)"
              type="submit" class="save "><mat-icon svgIcon="confirme"></mat-icon></button>
            <nav *ngIf="rules !== 'manager' && rules === 'affiliate' && url === '/profile'">{{channel.vip ? 'VIP' : ''}}
            </nav>
            <button *ngIf="rules !== 'affiliate' && url !== '/profile'" [ngClass]="{'active': channel.vip}"
              class="vip "><mat-icon svgIcon="vip"></mat-icon></button>
            <button *ngIf=" rules === 'affiliate' || rules === 'manager' && url === '/profile'" type="submit"
              (click)="changeMedia(channel.id)" class="save-pf"><mat-icon svgIcon="settings"></mat-icon></button>
            <button *ngIf=" rules === 'affiliate' || rules === 'manager' && url === '/profile'" type="button"
              (click)="removeMedia(channel.id)" class="remove-pf"><mat-icon svgIcon="remove"></mat-icon></button>
          </div>
        </div>
        <div class="id">
          <nav>{{channel.id}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{mediaData.name}}</nav>
          <nav class="desc">{{channel.name}}</nav>
        </div>
        <div class="column" *ngIf="rules !== 'brand'">
          <nav class="title">{{mediaData.link}}</nav>
          <nav class="desc">{{channel.link}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{mediaData.subscribe}}</nav>
          <nav class="desc">{{channel.subscribe}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{mediaData.stream}}</nav>
          <nav class="desc">{{channel.stream}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{mediaData.price}}</nav>
          <nav class="desc">{{channel.price}}</nav>
        </div>
        <div class="column">
          <nav class="title">{{mediaData.payout}}</nav>
          <div class="payout_methods">
            <button mat-button [ngClass]="{'active': activePayout[i ] === 'CPM' || channel?.payout === 'CPM'}"
              (click)="choicePayout(i, 'CPM', channel?.id)"
              [ngClass]="{'active': activePayout[i ] === 'CPM' || channel?.payout === 'CPM'}">{{mediaData.cpm}}</button>
            <button mat-button [ngClass]="{'active': activePayout[i ] === 'CPM' || channel?.payout === 'CPM'}"
              (click)="choicePayout(i, 'CPH', channel?.id)"
              [ngClass]="{'active': activePayout[i ] === 'CPH' || channel?.payout === 'CPH'}">{{mediaData.cph}}</button>
          </div>
        </div>
      </div>
    </div>
  </drag-scroll>
</section>