.list-mobile {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .media {
    padding: 18px;
    border-radius: 20px;
    background: #F1F4FF;
    box-shadow: 0px 4px 4px 0px #0000001A;
    width: 344px;
    height: 465px;
    display: none;
    flex-direction: column;
    gap: 14px;

    &.active {
      display: flex;
    }

    .media_header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .action {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        button {
          border-radius: 50%;
          min-width: 26px;
          height: 26px;
          padding: 0;
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &.remove {
            padding: 7px;
            background-color: #FFE4E3;

            mat-icon {
              width: 100%;
              height: 100%;
            }

          }

          &.save {
            background-color: #D1F5E4;
            display: flex;
            justify-content: center;
            align-items: center;

            mat-icon {
              width: 12px;

              svg {
                height: 8px;
              }
            }
          }

          &.vip {
            &.active {
              background-color: #e8f8ca;
            }
          }

        }
      }
    }

    .column{
      display: flex;
      flex-direction: column;
      gap: 6px;
      .title{
        font-size: 2.2rem;
        line-height: 25.85px;
      }
      .desc{
        font-size: 1.7rem;
        line-height: 19.98px;
      }
    }
  }
}