<section class="list-mobile">
  <div class="media" *ngFor="let channel of mediaChannels; index as i" [ngClass]="{'active': activeSlide === i}">
    <div class="media_header">
      <nav class="status">Status</nav>
      <div class="action">
        <button (click)="removeMedia(channel.id)" type="button" class="remove "><mat-icon
            svgIcon="remove"></mat-icon></button>
        <button (click)="setNewChanges(channel.id, i)" type="submit" class="save "><mat-icon
            svgIcon="confirme"></mat-icon></button>
        <button (click)="setVipStatus(channel.id)" type="submit" [ngClass]="{'active': channel.vip}"
          class="vip "><mat-icon svgIcon="vip"></mat-icon></button>
      </div>
    </div>
    <div>
      <nav>{{channel.id}}</nav>
    </div>
    <div class="column">
      <nav class="title">Name</nav>
      <nav class="desc">{{channel.name}}</nav>
    </div>
    <div class="column">
      <nav class="title">Link</nav>
      <nav class="desc">{{channel.link}}</nav>
    </div>
    <div class="column">
      <nav class="title">Subsribe</nav>
      <nav class="desc">{{channel.subscribe}}</nav>
    </div>
    <div class="column">
      <nav class="title">Stream</nav>
      <nav class="desc">{{channel.stream}}</nav>
    </div>
    <div class="column">
      <nav class="title">Price</nav>
      <nav class="desc">{{channel.price}}</nav>
    </div>
  </div>

</section>
<app-action-slide (activeId)="changeActiveCard($event)" [activeCard]="activeSlide" [slider]="mediaChannels"></app-action-slide>